.container.contact__container {
    width: 58%; /* Sets total width of container. Lower # = more in the middle */
    display: grid; /* Sets up grid-templates */
    grid-template-columns: 30% 58%; /* Email/Phone containers will take up 30% of the width and the contact form will take up 58% */
    gap: 12rem; /* Sets the gap between the two columns. Lower #rem = closer together */
}

.contact__options {
    display: flex;
    /* flex-direction = column sets each "contact option" to be below the other instead of across */
    flex-direction: column;
    gap: 1.2rem;


}

.contact__options h4 {
    color: green;

}

.contact__options h5 {
    color: purple;

}