.container.contact__container {
    width: 58%; /* Sets total width of container. Lower # = more in the middle */
    display: grid; /* Sets up grid-templates */
    grid-template-columns: 30% 58%; /* Email/Phone containers will take up 30% of the width and the contact form will take up 58% */
    gap: 12rem; /* Sets the gap between the two columns. Lower #rem = closer together */
}

/* ==================== Contact Options Styling ================== */

.contact__options {
    display: flex;
    /* flex-direction = column sets each "contact option" to be below the other instead of across */
    flex-direction: column;
    gap: 1.2rem;
}

.contact__option {
    background: var(--color-bg-variant);
    /*Padding puts space around your actual content. > Padding = > Space around content */
    padding: 1.2rem;
    /* > border-radius = Smoother edges (More like a Circle) */
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    /* Uses our "--transition" global variable to slow down the change from solid to transparent when hovering*/
    transition: var(--transition);
}

.contact__option:hover {
    /* Sets background to transparent WHEN hovering */
    background: transparent;
    /* Sets Border color WHEN hovering */
    border-color: var(--color-primary-variant);
}

.contact__option-icon {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.contact__option a {
    margin-top: 0.7rem;
    /* display: inline-block; Need to research this further! */
    display: inline-block;
    font-size: 0.8rem;
}

/* ==================== Contact Form Styling ================== */

form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

input, textarea {
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid var(--color-primary-variant);
    resize: none;
    color: var(--color-white);
}


/* ============= Media Queries (Tables & Medium Size Devices) =================== */

@media screen and (max-width: 1024px) {
    .container.contact__container {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

}

/* ============= Media Queries (Phones) =================== */

@media screen and (max-width: 600px) {
    .container.contact__container {
        width: var(--container-width-sm);
    }
}